* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-flow: column;
    border-style: solid;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-flow: column;
    height: 325px;
    width: 325px;
    border-style: solid;
}